form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 7%;
    gap: 1.5rem;
    height: 70vh;
    border-radius: 5px;
    background-color: rgb(255, 196, 196);
}
input{
    width: 30rem;
    height: 2.5rem;
    border-radius: 5px;
     border: 1px solid transparent; 
}
input:active{
    border: 1px solid red;
}
input:focus{
    border: 1px solid red;
}
button{
    width: 80%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid transparent; 
    background-color: rgb(210, 111, 111);
    color: white;
}
select{
    width: 30rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid transparent; 
    padding-left: 1rem;

}
input::placeholder{
    padding-left: 10%;
}
option{
    padding-left: 10%;
}